<% title "Edit Lyric" %>

<div class="nav_links">
  <%= link_to 'View details', @lyric %> |
  <%= link_to 'Back to List', lyrics_path %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>