<div id="lyric_show_container">
  <%= render :partial => 'shared/lyric' %>

  <div class="right_col">
    <!--
    <div class="section">
      <h3>the meaning of the terms <span>ask</span></h3>
      <div class="items">
        <div class="item"></div>
      </div>
    </div>
    -->
    <%= render :partial => 'background_stories/section' %>
    <%= render :partial => 'notes/section' %>
    <div class="section">
      <h3>comments</h3>
    </div>
  </div>
</div>

<%- content_for :foot do -%>
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
  //<![CDATA[
  bkLib.onDomLoaded(function() {
    var bgStoryEditor = new nicEditor({buttonList : ['bold','italic','underline','strikeThrough','image']})
    bgStoryEditor.addInstance('bg_story_textarea');
    
    var noteEditor = new nicEditor({buttonList : ['bold','italic','underline','strikeThrough','image']})
    noteEditor.addInstance('note_textarea');
  });
  //]]>
</script>
<%- end -%>