<div id="note_section" class="section">
  <h3 class="clear_fix">
    <span class="title">notes</span>
    <%= link_to "add a new note", new_lyric_note_path(@lyric), :class => 'add_btn' if current_user %>
  </h3>
  
  <div id="add_new_form_container">
    <%= render 'notes/form' if @note %>
  </div>
  
  <div class="items">
    <%- if current_user -%>
    <%- current_user.lyric_notes(@lyric).each do |note| -%>
    <%= render note %>
    <%- end -%>
    <%- end -%>
  </div>
</div>