<% for note in @notes %>
<div class="note">
  <div class="content"><%= simple_format note.content %></div>
  <div class="author">
    <%= link_to note.created_by.username, user_path(note.created_by) %>
    <%= link_to note.song.title, song_path(note.song) %>
  </div>
</div>
<% end %>