<%= render :partial => 'shared/lyric' %>

<div class="right_col">
  <!--
  <div class="section">
    <h3>the meaning of the terms <span>ask</span></h3>
    <div class="items">
      <div class="item"></div>
    </div>
  </div>
  -->
  <%= render :partial => 'background_stories/section' %>
  <%= render :partial => 'notes/section' %>
  <div class="section">
    <h3>comments</h3>
  </div>
</div>