<% title "Edit Artist" %>

<div class="nav_links">
  <%= link_to 'View details', @artist %> |
  <%= link_to 'Back to List', artists_path %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>