<%- if @lyric and @lyric.videos -%>
  <div class="section">
    <div id="current_video_player" class="video">
      <%= embedded_player(@lyric.videos.first.uid) %>
    </div>
    <div id="video_items">
    <% @lyric.videos.each do |video| %>
      <% if video.source == 'youtube' %>
      <%= link_to sidebar_switch_video_path(:id => video.id), :remote => true, :class => 'video_item' do %>
        <%= image_tag "http://img.youtube.com/vi/#{video.uid}/default.jpg", :class => 'video_thumb' %>
      <% end %>
      <%- end -%>
    <%- end -%>
    </div>
  </div>
<%- end -%>