<div id="main">
  <% if current_user %>
    <% if @is_supported %>
    <%= render :partial => 'sidebar/sidebar' %>
  
    <% else %>
    <div class="tab_container">
    	<div class="tab_content">
        Sorry, our app is not supported in this site.<br>
        Explore more music in <%= link_to 'our site', root_url %>!
      </div>
    </div>
    <% end %>
  
  <% else %>
  <div class="tab_container">
  	<div class="tab_content">
      Please <%= link_to 'Sign Up', signup_path, :class => 'signup', :target => '_blank' %> or
      <%= link_to 'Log in', login_path, :target => '_blank' %>
      
      <div style="margin: 20px 0 0;">
        Click on the bookmarklet again after you log in.
      </div>
    </div>
  </div>
  <% end %>
</div>