/* Form
------------------- */
form.hline_form .label, form.hline_form .input {
  width: 150px;
  float: left;
  display: inline;
}

form.hline_form input.text {
  width: 200px;
}

input, textarea {
  outline: none; /* Remove Safari/Chrome textinput/textarea glow */
}
input.text {
  border: 1px solid #aaa;
  padding: 1px 3px;
  width: 150px;
}
input.text:hover {
  border: 1px solid #ccc;
}
input.text:focus {
  border: 1px solid #29ABE2;
}

textarea {
  font-size: 13px;
  border: 1px solid #aaa;
  padding: 1px 3px;
}
textarea:hover {
  border: 1px solid #ccc;
}
textarea:focus {
  border: 1px solid #29ABE2;
}

.field:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  margin: 0 0 10px 0;
}
/* IE7 Hack */
.field {
  clear: both;
  *display: inline-block;
}

form .actions {
  margin: 30px 0 0;
}

form.button_to {
  display: inline;
}
.button_to div {
  display: inline;
}
.delete_btn, .rounded_btn {
  width: inherit;
  height: inherit;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-bottom-left-radius: 4px 4px;
  -webkit-border-bottom-right-radius: 4px 4px;
  -webkit-border-top-left-radius: 4px 4px;
  -webkit-border-top-right-radius: 4px 4px;
  background: #29ABE2 none repeat scroll 0 0;
  border: medium none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  text-decoration: none;
  white-space: nowrap;
}

a.rounded_btn:hover {
  background: #209Bd2;
  text-decoration: none;
}

/* Vote */
.vote_form {
  display: inline;
}
.vote_block .rounded_btn {
  background: #ddd none repeat scroll 0 0;
}
.vote_block .thumbs_up_true .rounded_btn, .vote_block .thumbs_down_true .rounded_btn {
  background: #29ABE2 none repeat scroll 0 0;
}