<% title "Welcome", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class="index">
    <%- if @recent_songs -%>
    <div class="section">
      <h2>Recent Update</h2>
      <%= render :partial => 'shared/songs', :locals => { :songs => @recent_songs } %>
    </div>
    <%- end -%>
    
  </div>
  
  <% @votes.each do |vote| %>
    <div>
      <%= link_to vote.voter.name, user_path(vote.voter) %> 
      <%= vote.vote? ? "likes" : "doesn't like" %>
      <%= link_to vote.voteable.title, song_path(vote.voteable) %>
    </div>
  <% end %>
  
</div>