<% title "Welcome", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class="index clear_fix">
    <div class="section">
      <div id="visitor_block">
        <h1>Coming soon</h1>
        <p class="desc">
          interested in trying our beta version?<br>
          send us your email address and we will notice you when it's ready. thanks!
        </p>
        
        <%= form_for BetaRequest.new, :remote => true, :html => { "data-type" => "json" } do |f| %>
          <%= f.text_field :email, :class => 'text' %>
          <%= f.submit 'Send', :class => 'rounded_btn' %>
          <div class="msg"></div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>