<% title "Edit Event" %>

<div class="nav_links">
  <%= link_to 'View details', artist_event_path(@event.artist, @event) %> |
  <%= link_to 'Back to List', artist_events_path(@event.artist) %>
</div>

<div class="edit_container">
  <%= render 'form' %>
</div>