<% title "Songs", false %>

<div class="index_container">
  <div class="description">
  </div>

  <div class='index_header'>
    <%= link_to 'add a new song', new_song_path, :class => 'rounded_btn' if current_user.try(:admin?) %>
  </div>

  <div class="index">
    <%= render :partial => 'shared/songs', :locals => { :songs => @songs } %>
  </div>
</div>