#sidebar #container {
  /*margin-top: 20px;*/
}

#container { 
  font-size: 12px; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  height: 100%;
}

#sidebar #container {
  padding: 10px; 
}

.song_info {
  margin: 5px 0 10px 0;
}
  .song_info .title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 2px 0;
  }
  .song_info .performer, .song_info .writer {
    font-size: 12px;
    color: #666;
  }

/* Tabs */  
.ui-tabs .ui-tabs-hide {
  display: none;
}

.ui-tabs ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}

.ui-tabs ul li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #f2f2f2;
}
.ui-tabs ul li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.1em;
	padding: 0 10px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
.ui-tabs ul li a:hover {
	background: #e6e6e6;
}
html .ui-tabs ul li.ui-tabs-selected, html .ui-tabs ul li.ui-tabs-selected a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}


.tab_container {
  -moz-box-shadow: rgba(0, 0, 0, 0.417969) 0 2px 9px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.417969) 0 2px 9px;
  box-shadow: rgba(0, 0, 0, 0.417969) 0 2px 9px;
  
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
	min-height: 250px;
}
.tab_content {
	padding: 20px;
}

 .ui-tabs ul,  .ui-tabs ul li {
  border: none;
  z-index: 1;
  position: relative;
}
 .tab_container {
  border: none;
  position: relative;
  z-index: 10;
}

html .ui-tabs ul li.ui-tabs-selected { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #f2f2f2;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
html .ui-tabs ul li.ui-tabs-selected a:hover {
  background: #f2f2f2;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
 .ui-tabs ul li {
  background-color: #fff;
}
 .ui-tabs ul li a {
  color: #29ABE2;
  font-weight: bold;
}

/* Lyric */
#tabs-lyric textarea {
  width: 300px;
  min-height: 450px;
  height: 80%;
}

#tabs-lyric .action_bar {
  margin: 0 0 10px 0;
}
#tabs-lyric .edit_lyric_btn {
}

#tabs-lyric form {
  margin: 10px 0 0;
}

/* Notes */
.note {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
  .note .title {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  .note .content {
    margin: 0 0 5px 0;
  }
  .note .author {
    text-align: right;
  }
    .note .author a {
      color: #29ABE2;
      font-size: 12px;
      text-decoration: none;
    }
    .note .author a:hover {
      color: #666;
    }

/* About */
.section {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
.artist_image {
  
}

.artist_summary {
  line-height: 16px;
}

.similar_artist {
  margin: 0 0 5px 0;
  height: 30px;
  line-height: 30px;
}
  .similar_artist .image {
   float: left;
   margin: 0 10px 0 0;
   height: 30px;
   overflow: hidden;
  }
  .similar_artist .name {
   float: left;
  }

#album_section .album_name {
  font-weight: bold;
  margin: 0 0 10px 0;
}
 
#album_section .cover_image {
  margin: 0 10px 0 0 ;
}
  #album_section .cover_image img {
    width: 100px;
  }
#album_section .songs {
  width: 240px;
}
#sidebar #album_section .songs {
  width: 180px;
}
  #album_section .song {
    margin: 0 0 3px 0;
  }

#tabs-about .vote_block_container {
  background-color: #92CD00;
  color: #fff;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin: 0 0 10px 0;
}

#tabs-about .vote_block_container .left {
  margin-right: 10px;
}

#tabs {
  position: relative;
}


#tabs .vote_block_container {
  /*
  position: absolute;
  top: 5px;
  right: 0px;
  */
  padding: 0px 0px 2px 0;
  margin: 0px 0px 10px;
  border-bottom: 1px solid #CCC;
  z-index: 10;
}
  #tabs .vote_block_container .vote_block {
    display: inline-block;
  }
  #tabs .vote_block_container .desc {
    margin: 0 5px 0 0;
    color: #666;
    font-size: 11px;
  }
  #tabs .vote_block_container .rounded_btn {
    font-size: 9px;
  }

#sidebar #tabs .vote_block_container {
  z-index: 10;
}