body {
  margin: 0;
  color: #333;
  background-color: #29ABE2;
}

#container { 
  padding: 10px; 
  font-size: 12px; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif; 
  height: 100%;
}

.song_info {
  margin: 5px 0 10px 0;
}
  .song_info .title {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 2px 0;
  }
  .song_info .performer {
    font-size: 12px;
    color: #666;
  }

/* Tabs */  
.ui-tabs .ui-tabs-hide {
  display: none;
}

.ui-tabs ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
.ui-tabs ul li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #f2f2f2;
}
.ui-tabs ul li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.1em;
	padding: 0 10px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
.ui-tabs ul li a:hover {
	background: #e6e6e6;
}
html .ui-tabs ul li.ui-tabs-selected, html .ui-tabs ul li.ui-tabs-selected a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}


.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_content {
	padding: 20px;
}

/* Lyric */
#tabs-lyric textarea {
  width: 300px;
  min-height: 450px;
  height: 80%;
}

#tabs-lyric .edit_lyric_btn {
  margin: 0 0 10px 0;
}

.tab_container form .actions {
  margin-top: 20px;
}

/* Notes */
.note {
  border-bottom: 1px solid #e6e6e6;
  padding: 5px 0;
}
  .note .title {
    margin: 0 0 5px 0;
    font-weight: bold;
  }
  .note .content {
    margin: 0 0 5px 0;
  }
  .note .author {
    text-align: right;
  }
    .note .author a {
      color: #29ABE2;
      font-size: 12px;
      text-decoration: none;
    }
    .note .author a:hover {
      color: #666;
    }

/* About */
.section {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
.artist_image {
  
}

.artist_summary {
  
}

.similar_artist {
  margin: 0 0 5px 0;
  height: 30px;
  line-height: 30px;
}
 .similar_artist .image {
   float: left;
   margin: 0 10px 0 0;
   height: 30px;
   overflow: hidden;
 }
 .similar_artist .name {
   float: left;
 }