<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml --> 
<head> 
	<title>Songs</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
 
  <%= stylesheet_link_tag 'base', "form", "application" %>
  <link rel="stylesheet" href="/sidebar/layout.css" type="text/css" charset="utf-8" /> 
  <link rel="stylesheet" href="/sidebar/basic_sidebar.css" type="text/css" charset="utf-8" /> 
  <link rel="icon" type="image/png" href="/favicon.ico" /> 
 
  <base target="_top" /> 
  
  <!--
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#toggle_display').click(function() {
        $('#main').toggle();
      }); 
    });
  </script>
  -->
  <script type="text/javascript"> 
  // chartbeat
  var _sf_startpt=(new Date()).getTime()
  </script>
  
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
  <%= javascript_include_tag 'rails', 'application' %>
 
</head> 
<body>
  <div id="container">
    <%= yield %> 
  </div>
  
  <%= yield(:foot) %>
  
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66361966); }catch(err){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66361966ns.gif" /></p></noscript>
</body>
</html>