<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml --> 
<head> 
	<title>Songs</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" /> 
 
  <link rel="stylesheet" href="/sidebar/sidebar.css" type="text/css" charset="utf-8" /> 
  <link rel="icon" type="image/png" href="/favicon.ico" /> 
 
  <base target="_top" /> 
  
  <!--
  <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#toggle_display').click(function() {
        $('#main').toggle();
      }); 
    });
  </script>
  -->
  <script type="text/javascript"> 
  // chartbeat
  var _sf_startpt=(new Date()).getTime()
  </script>
 
</head> 
<body>
  <div id="container">
    <%= yield %> 
  </div>
</body>
</html>