<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<!-- MIME TYPE Guidlines and references: http://hixie.ch/advocacy/xhtml --> 
<head> 
	<title>Songs</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="keywords" content="" /> 
  <meta name="description" content="" />
   
  <%= render 'layouts/head' %>
  <link rel="stylesheet" href="/sidebar/layout.css" type="text/css" charset="utf-8" /> 
  <base target="_top" /> 
</head> 
<body id="sidebar">
  <div id="container">
    <%= yield %> 
  </div>
  
  <%= render 'layouts/foot' %>
  
  <%= yield(:foot) %>
  
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
  <script type="text/javascript">try{ clicky.init(66361966); }catch(err){}</script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66361966ns.gif" /></p></noscript>
</body>
</html>