<div id="bookmarklet_container">
  <span class="explanation">start using our app by dragging this button</span>
  <a id="bookmarklet" href="javascript:var e=document.createElement('script');e.setAttribute('language','javascript');e.setAttribute('src','http://<%= HOST %>/sidebar/load.js');document.body.appendChild(e);void(0);">show more</a>
  <span class="explanation">to your toolbar</span>
</div>