<div id="searchfield_container" class="left">
  <%= form_tag search_path, :method => :get do %>
  <%= text_field_tag :search, nil, :class => 'text' %>
  <%= submit_tag "Search", :class => 'rounded_btn', :id => "search_btn" %>
  <% end %>
</div>